# COGS108 Final Project

___

In [1]:
import pandas as pd
import numpy as np

**"geoplaces2.csv"** provides some columns that we might find interesting, such as alcohol serving status and their geological locations.

In [2]:
geo = pd.read_csv("geoplaces2.csv")

In [4]:
geo.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

**Operating hours** for the restaurants. Should append this to our df for the purpose of our project.

In [5]:
hours = pd.read_csv("chefmozhours4.csv")

In [6]:
hours.columns

Index(['placeID', 'hours', 'days'], dtype='object')

**Parking status** for the restaurants.

In [7]:
parking = pd.read_csv("chefmozparking.csv")

In [8]:
parking.columns

Index(['placeID', 'parking_lot'], dtype='object')

**Credit Card acceptance** for the restaurants.

In [9]:
credit_card = pd.read_csv("chefmozaccepts.csv")

In [10]:
credit_card.columns

Index(['placeID', 'Rpayment'], dtype='object')

**Type of the cuisine**

In [11]:
type_of_cuisine = pd.read_csv("chefmozcuisine.csv")

In [12]:
type_of_cuisine.columns

Index(['placeID', 'Rcuisine'], dtype='object')

**Ratings from 138 users**, we can look more into the users if we decide to use this dataset.

In [15]:
ratings = pd.read_csv("rating_final.csv")

In [16]:
ratings.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2